body {
  background-color: #f9f9f9;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  margin: 0;
  /* padding: 0;
  box-sizing: border-box; */
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 3.6rem;
  font-weight: bold;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}

#search-input {
  width: 60%;
  max-width: 40rem;
  padding: 1rem 2rem;
  border: none;
  box-shadow: 0 0 0.5rem rgb(0, 0, 0, 0.2);
  outline: none;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  color: #333;
}

#search-button {
  padding: 1rem 2rem;
  background-color: #4caf50;
  color: #fff;
  border: none;
  font-size: 1.8rem;
  box-shadow: 0 0 0.5rem rgb(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}
#search-button:hover {
  background-color: #3e8e41;
}
.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 130rem;
  margin: 0 auto;
  padding: 2rem;
}

.search-result {
  margin-bottom: 6rem;
  width: 30%;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgb(0, 0, 0, 0.2);
  overflow: hidden;
}

.search-result:hover img {
  transform: scale(1.05);
}

.search-result img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.search-result a {
  padding: 1rem;
  display: block;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.search-result:hover a {
  background-color: rgb(0, 0, 0, 0.1);
}

#show-more-button {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 1rem 2rem;
  display: block;
  margin: 2rem auto;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: none;
}

#show-more-button:hover {
  background-color: #0077b5;
}

@media screen and (max-width: 768px) {
  .search-result {
    width: 45%;
  }
}
@media screen and (max-width: 480px) {
  .search-result {
    width: 100%;
  }

  form {
    flex-direction: column;
  }
  #search-input {
    margin-bottom: 2rem;
    width: 85%;
  }
}
